/* Start: Common Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 10rem 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url('../imgs/Hero.jpg') center center no-repeat;
  background-size: cover;
}

.main-heading {
  font-family: 'Baloo Da 2', serif;
  font-size: 8rem;
  font-weight: 300;
  color: #fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.secondary-heading {
  font-family: 'Josefin Slab', serif;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
